In [1]:
import pandas as pd
import os

In [2]:
# Read the workbook with Pandas
filepath = os.path.join("data", "raw", "Table_3_Poverty Status of People_Age-Race-Hispanic Origin-hstpov3.xls")
pbr_dfs = pd.read_excel(filepath, sheet_name=None)

In [3]:
# Looks at all the excel sheet column headers.  They're a mess.
for k, df in pbr_dfs.items():
    print(f"{k} - {df.columns}\n")

all races - Index(['ALL RACES- Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       '18 to 64 years - Total', '18 to 64 years - Below Poverty - Number',
       '18 to 64 years - Below Poverty - Percent', '65 years and over - Total',
       '65 years and over - Below Poverty - Number',
       '65 years and over - Below Poverty - Percent'],
      dtype='object')

WHITE, NOT HISPANIC - Index(['WHITE, NOT HISPANIC- Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       '18 to 64 years - Total', '18 to 64 years - Below Poverty - Number',
       '18 to 64 years - Below Poverty - Percent', '65 years and over - Total',
       '65 years and over - Below Poverty - Number',
       '65 years and over - Below Poverty - Percent'],
      dtype='object')

ASIAN AND PACIFIC ISLANDER - Index(['ASIAN AND PACIFIC ISLANDER - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       '18 to 64 years - Total', '18 to 64 years - Below Poverty - Number',
       '18 to 64 years - Below Poverty - Percent', '65 years and over - Total',
       '65 years and over - Below Poverty - Number',
       '65 years and over - Below Poverty - Percent'],
      dtype='object')

ASIAN ALONE - Index(['ASIAN ALONE - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

ASIAN ALONE OR IN COMBINATION - Index(['ASIAN ALONE OR IN COMBINATION - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

BLACK - Index(['BLACK - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

BLACK ALONE  - Index(['BLACK ALONE - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

BLACK ALONE OR IN COMBO - Index(['BLACK ALONE OR IN COMBO - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

WHITE ALONE - Index(['WHITE ALONE OR IN COMBO - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

WHITE - Index(['WHITE - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

WHITE ALONE, NOT HISPANIC - Index(['WHITE ALONE, NOT HISPANIC - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

HISPANIC, ANY RACE - Index(['HISPANIC (ANY RACE) - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

In [4]:
# Sets the overall dataframe that'll combine all the Excel sheets.  We'll only need to select the year,
# age ranges, race, total, and population below the poverty line for the final dataframe.
all_pbr_df = pd.DataFrame({"Year":[], "AgeBand":[], "Race":[], "Total":[], "BelowPoverty":[]})

# For loop to go through each Excel sheet.
for key, df in pbr_dfs.items():
    
    # Better column names so that we don't see "Under 18 years" before every single column header from the
    # Asian Alone sheet onward.
    clean_column_names = {df.columns[0]:"Year", 
                          df.columns[1]: "Under 18 - Total", 
                          df.columns[2]: "Under 18 - Below Poverty", 
                          df.columns[3]: "Under 18 - Below Poverty %", 
                          df.columns[4]: "Under 18 - Children Total", 
                          df.columns[5]: "Under 18 - Children Below Poverty", 
                          df.columns[6]: "Under 18 - Children Below Poverty %", 
                          df.columns[7]: "18 to 64 - Total", 
                          df.columns[8]: "18 to 64 - Below Poverty", 
                          df.columns[9]: "18 to 64 - Below Poverty %", 
                          df.columns[10]: "65 and Over - Total", 
                          df.columns[11]: "65 and Over - Below Poverty", 
                          df.columns[12]: "65 and Over - Below Poverty %"}
    
    # We don't need the percentages for the final database, so this selects just the columns we need.  The
    # "Under 18 years - Related Children in Families" columns are assumed to be only part of the Under 18 population,
    # while the "Under 18 years - All People" are assumed to be the entire Under 18 population, so we went with the
    # entire Under 18 population and rejected the "in families" column to simplify the database.
    clean_df = df.rename(columns=clean_column_names)[["Year",
                    "Under 18 - Total", "Under 18 - Below Poverty",
                    "18 to 64 - Total", "18 to 64 - Below Poverty",
                    "65 and Over - Total", "65 and Over - Below Poverty",
                   ]]
    
    # This section sets up the overall dataframe to be sorted by age bands.  This potentially could have been done
    # as one huge dataframe, but concatenating smaller dataframes was a little easier to work with.
    
    # Under 18
    u18_df = clean_df[["Year", "Under 18 - Total", "Under 18 - Below Poverty"]]
    u18_normalized_columns = {"Under 18 - Total": "Total", "Under 18 - Below Poverty":"BelowPoverty"}
    u18_df = u18_df.rename(columns=u18_normalized_columns)
    u18_df["Race"] = key
    u18_df["AgeBand"] = "Under age 18"
    all_pbr_df = pd.concat([all_pbr_df, u18_df], sort=False)
    
    # Age 18 - 64
    a1864_df = clean_df[["Year", "18 to 64 - Total", "18 to 64 - Below Poverty"]]
    a1864_normalized_columns = {"18 to 64 - Total": "Total", "18 to 64 - Below Poverty":"BelowPoverty"}
    a1864_df = a1864_df.rename(columns=a1864_normalized_columns)
    a1864_df["Race"] = key
    a1864_df["AgeBand"] = "Aged 18 to 64"
    all_pbr_df = pd.concat([all_pbr_df, a1864_df], sort=False)
    
    # Age 65 and over
    a65ao_df = clean_df[["Year", "65 and Over - Total", "65 and Over - Below Poverty"]]
    a65ao_normalized_columns = {"65 and Over - Total": "Total", "65 and Over - Below Poverty":"BelowPoverty"}
    a65ao_df = a65ao_df.rename(columns=a65ao_normalized_columns)
    a65ao_df["Race"] = key
    a65ao_df["AgeBand"] = "Aged 65 and older"
    all_pbr_df = pd.concat([all_pbr_df, a65ao_df], sort=False)

# Display the final dataframe
all_pbr_df

         Year            AgeBand                Race  Total BelowPoverty
0        2015       Under age 18           all races  73647        14509
1        2014       Under age 18           all races  73556        15540
2   2013 (19)       Under age 18           all races  73439        15801
3   2013 (18)       Under age 18           all races  73625        14659
4        2012       Under age 18           all races  73719        16073
5        2011       Under age 18           all races  73737        16134
6   2010 (17)       Under age 18           all races  73873        16286
7        2009       Under age 18           all races  74579        15451
8        2008       Under age 18           all races  74068        14068
9        2007       Under age 18           all races  73996        13324
10       2006       Under age 18           all races  73727        12827
11       2005       Under age 18           all races  73285        12896
12  2004 (14)       Under age 18           all races  73241        13041
13       2003       Under age 18           all races  72999        12866
14       2002       Under age 18           all races  72696        12133
15       2001       Under age 18           all races  72021        11733
16  2000 (12)       Under age 18           all races  71741        11587
17  1999 (11)       Under age 18           all races  71685        12280
18       1998       Under age 18           all races  71338        13467
19       1997       Under age 18           all races  71069        14113
20       1996       Under age 18           all races  70650        14463
21       1995       Under age 18           all races  70566        14665
22       1994       Under age 18           all races  70020        15289
23  1993 (10)       Under age 18           all races  69292        15727
24  1992 (9 )       Under age 18           all races  68440        15294
25  1991 (8 )       Under age 18           all races  65918        14341
26       1990       Under age 18           all races  65049        13431
27       1989       Under age 18           all races  64144        12590
28       1988       Under age 18           all races  63747        12455
29  1987 (7 )       Under age 18           all races  63294        12843
..        ...                ...                 ...    ...          ...
14       2002  Aged 65 and older  HISPANIC, ANY RACE   2053          439
15       2001  Aged 65 and older  HISPANIC, ANY RACE   1896          413
16  2000 (12)  Aged 65 and older  HISPANIC, ANY RACE   1822          381
17  1999 (11)  Aged 65 and older  HISPANIC, ANY RACE   1661          340
18       1998  Aged 65 and older  HISPANIC, ANY RACE   1696          356
19       1997  Aged 65 and older  HISPANIC, ANY RACE   1617          384
20       1996  Aged 65 and older  HISPANIC, ANY RACE   1516          370
21       1995  Aged 65 and older  HISPANIC, ANY RACE   1458          342
22       1994  Aged 65 and older  HISPANIC, ANY RACE   1428          323
23  1993 (10)  Aged 65 and older  HISPANIC, ANY RACE   1390          297
24  1992 (9 )  Aged 65 and older  HISPANIC, ANY RACE   1298          287
25  1991 (8 )  Aged 65 and older  HISPANIC, ANY RACE   1143          237
26       1990  Aged 65 and older  HISPANIC, ANY RACE   1091          245
27       1989  Aged 65 and older  HISPANIC, ANY RACE   1024          211
28       1988  Aged 65 and older  HISPANIC, ANY RACE   1005          225
29  1987 (7 )  Aged 65 and older  HISPANIC, ANY RACE    885          243
30       1986  Aged 65 and older  HISPANIC, ANY RACE    906          204
31       1985  Aged 65 and older  HISPANIC, ANY RACE    915          219
32       1984  Aged 65 and older  HISPANIC, ANY RACE    819          176
33  1983 (6 )  Aged 65 and older  HISPANIC, ANY RACE    782          173
34       1982  Aged 65 and older  HISPANIC, ANY RACE    596          159
35  1981 (5 )  Aged 65 and older  HISPANIC, ANY RACE    568          146
36       1980  Aged 65 and older  HISPANIC, ANY RACE    582          179
37  1979 (4 )  Aged 65 and older  HISPANIC, ANY RACE    574          154
38       1978  Aged 65 and older  HISPANIC, ANY RACE    539          125
39       1977  Aged 65 and older  HISPANIC, ANY RACE    518          113
40       1976  Aged 65 and older  HISPANIC, ANY RACE    464          128
41       1975  Aged 65 and older  HISPANIC, ANY RACE   (NA)          137
42  1974 (3 )  Aged 65 and older  HISPANIC, ANY RACE   (NA)          117
43       1973  Aged 65 and older  HISPANIC, ANY RACE   (NA)           95

[933 rows x 5 columns]