# Centranz - Transform US Census Bureau Data to Star Schema

This project uses **Income, Poverty and Health Insurance Coverage in the United States: 2015** report released by _The U.S. Census Bureau_ on SEPT. 13, 2016. These findings are contained in two reports: 
1. Income and Poverty in the United States: 2015 and 
2. Health Insurance Coverage in the United States: 2015.

The Current Population Survey Annual Social and Economic Supplement was conducted nationwide and collected information about income and health insurance coverage during the 2015 calendar year. The Current Population Survey, sponsored jointly by the U.S. Census Bureau and U.S. Bureau of Labor Statistics, is conducted every month and is the primary source of labor force statistics for the U.S. population; it is used to calculate the monthly unemployment rate estimates. Supplements are added in most months; the Annual Social and Economic Supplement questionnaire is designed to give annual, national estimates of income, poverty and health insurance numbers and rates.

Another Census Bureau report, **The Supplemental Poverty Measure: 2015**, was also released. With support from the Bureau of Labor Statistics, it describes research showing a different way of measuring poverty in the United States and includes estimates for numerous demographic groups, including state-level estimates. The supplemental poverty measure serves as an additional indicator of economic well-being and provides a deeper understanding of economic conditions. The Census Bureau has published poverty estimates using this supplemental measure annually since 2011. Since September 2015, the supplemental poverty measure has been released the same day as the official poverty estimates.

In this project we chose to extract data from poverty reports and load the date into MySQL in a star schema format with below mentioned facts and dimensions:

* Fact - Population
* Dimension - Age Band
* Dimension - Disability Status
* Dimension - Education
* Dimension - Family Status
* Dimension - Gender
* Dimension - Nativity
* Dimension - Race
* Dimension - Region
* Dimension - Residence
* Dimension - Work Experience
* Dimension - Year

***

### Import Libraries Used for ETL Process

1. Pandas - an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools.
2. OS - provides a portable way of using operating system dependent functionality. In this project os.path is used to build file paths in OS independent manner
3. Abbreviate - utility which attempts to automatically and intelligently abbreviate strings. In this project abbreviate is used to extract codes for dimensions from descriptions (long format strings)
4. OrderedDict - A specialized version of python dictionary which preserves the insertion order.
5. SQLAlchemy - SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.
6. pymysql - A pure python MySQL client library, internally used by SQLAlchemy.

In [1]:
import pandas as pd
import os
import abbreviate
from collections import OrderedDict
from sqlalchemy import create_engine, inspect
import pymysql
pymysql.install_as_MySQLdb()

## Input Files
Source: https://data.world/uscensusbureau/income-poverty-health-ins

1. **Table 3**
_Poverty Status of People, by Age, Race, and Hispanic Origin: 1959 to 2015_

SOURCE: U.S. Bureau of the Census, Current Population Survey, Annual Social and Economic Supplements.

2. **Table 3** 
_People in Poverty by Selected Characteristics: 2014 and 2015_

(Numbers in thousands, margin of error in thousands or percentage points as appropriate. People as of March of the following year. For information on confidentiality protection, sampling error, nonsampling error, and definitions)

In [2]:
TBL3_POVERTY_BY_RACE = os.path.join('data', 'raw', 'Table_3_Poverty Status of People_Age-Race-Hispanic Origin-hstpov3.xls')
TBL3_POVERTY_BY_SELECTED_CHAR = os.path.join('data', 'raw', 'Table_3_People_Poverty_Selected_Characteristics_2014-2015 .xls')

### Common Variables

In [3]:
abbr = abbreviate.Abbreviate()

### Inspect Sheets in Excel Files

In [4]:
xl_pbr = pd.ExcelFile(TBL3_POVERTY_BY_RACE)
xl_pbsc = pd.ExcelFile(TBL3_POVERTY_BY_SELECTED_CHAR)

In [5]:
xl_pbr.sheet_names

['all races',
 'WHITE, NOT HISPANIC',
 'ASIAN AND PACIFIC ISLANDER',
 'ASIAN ALONE',
 'ASIAN ALONE OR IN COMBINATION',
 'BLACK',
 'BLACK ALONE ',
 'BLACK ALONE OR IN COMBO',
 'WHITE ALONE',
 'WHITE',
 'WHITE ALONE, NOT HISPANIC',
 'HISPANIC, ANY RACE']

In [6]:
xl_pbsc.sheet_names

['All People',
 'Education Attainment',
 'Work Experience',
 'Disability Status',
 'Residence',
 'Age',
 'Sex',
 'Family Status',
 'Race and Hispanic Origin',
 'Naitvity',
 'Region']

### Load Excel Files into DataFrames

This step loads the Excel files into memory as Pandas Data Frames. Here we pass sheet_name parameter as None, which enables load of all worksheets into a dictionary of data frames.

In [7]:
pbr_dfs = pd.read_excel(TBL3_POVERTY_BY_RACE, sheet_name=None)
pbsc_dfs = pd.read_excel(TBL3_POVERTY_BY_SELECTED_CHAR, sheet_name=None)

In [29]:
pbr_dfs

OrderedDict([('all races',
                 ALL RACES- Year and Characteristic  Under 18 years - All People - Total   \
              0                                2015                                 73647
              1                                2014                                 73556
              2                           2013 (19)                                 73439
              3                           2013 (18)                                 73625
              4                                2012                                 73719
              5                                2011                                 73737
              6                           2010 (17)                                 73873
              7                                2009                                 74579
              8                                2008                                 74068
              9                                2007                                 73996
              10                               2006                                 73727
              11                               2005                                 73285
              12                          2004 (14)                                 73241
              13                               2003                                 72999
              14                               2002                                 72696
              15                               2001                                 72021
              16                          2000 (12)                                 71741
              17                          1999 (11)                                 71685
              18                               1998                                 71338
              19                               1997                                 71069
              20                               1996                                 70650
              21                               1995                                 70566
              22                               1994                                 70020
              23                          1993 (10)                                 69292
              24                          1992 (9 )                                 68440
              25                          1991 (8 )                                 65918
              26                               1990                                 65049
              27                               1989                                 64144
              28                               1988                                 63747
              29                          1987 (7 )                                 63294
              30                               1986                                 62948
              31                               1985                                 62876
              32                               1984                                 62447
              33                          1983 (6 )                                 62334
              34                               1982                                 62345
              35                          1981 (5 )                                 62449
              36                               1980                                 62914
              37                          1979 (4 )                                 63375
              38                               1978                                 62311
              39                               1977                                 63137
              40                               1976                                 64028
              41                               1975                                 65079
              42                          1974 (3 )                                 66134
              43                               1973                                 66959
              44                               1972                                 67930
              45                          1971 (2 )                                 68816
              46                               1970                                 69159
              47                               1969                                 69090
              48                               1968                                 70385
              49                          1967 (1 )                                 70408
              50                               1966                                 70218
              51                               1965                                 69986
              52                               1964                                 69711
              53                               1963                                 69181
              54                               1962                                 67722
              55                               1961                                 66121
              56                               1960                                 65601
              57                               1959                                 64315

                  Under 18 years - All People - Below Poverty - Number  \
              0                                               14509
              1                                               15540
              2                                               15801
              3                                               14659
              4                                               16073
              5                                               16134
              6                                               16286
              7                                               15451
              8                                               14068
              9                                               13324
              10                                              12827
              11                                              12896
              12                                              13041
              13                                              12866
              14                                              12133
              15                                              11733
              16                                              11587
              17                                              12280
              18                                              13467
              19                                              14113
              20                                              14463
              21                                              14665
              22                                              15289
              23                                              15727
              24                                              15294
              25                                              14341
              26                                              13431
              27                                              12590
              28                                              12455
              29                                              12843
              30                                              12876
              31                                              13010
              32                                              13420
              33                                              13911
              34                                              13647
              35                                              12505
              36                                              11543
              37                                              10377
              38                                               9931
              39                                              10288
              40                                              10273
              41                                              11104
              42                                              10156
              43                                               9642
              44                                              10284
              45                                              10551
              46                                              10440
              47                                               9691
              48                                              10954
              49                                              11656
              50                                              12389
              51                                              14676
              52                                              16051
              53                                              16005
              54                                              16963
              55                                              16909
              56                                              17634
              57                                              17552

                  Under 18 years - All People - Below Poverty - Percent  \
              0                                                19.7
              1                                                21.1
              2                                                21.5
              3                                                19.9
              4                                                21.8
              5                                                21.9
              6                                                22.0
              7                                                20.7
              8                                                19.0
              9                                                18.0
              10                                               17.4
              11                                               17.6
              12                                               17.8
              13                                               17.6
              14                                               16.7
              15                                               16.3
              16                                               16.2
              17                                               17.1
              18                                               18.9
              19                                               19.9
              20                                               20.5
              21                                               20.8
              22                                               21.8
              23                                               22.7
              24                                               22.3
              25                                               21.8
              26                                               20.6
              27                                               19.6
              28                                               19.5
              29                                               20.3
              30                                               20.5
              31                                               20.7
              32                                               21.5
              33                                               22.3
              34                                               21.9
              35                                               20.0
              36                                               18.3
              37                                               16.4
              38                                               15.9
              39                                               16.2
              40                                               16.0
              41                                               17.1
              42                                               15.4
              43                                               14.4
              44                                               15.1
              45                                               15.3
              46                                               15.1
              47                                               14.0
              48                                               15.6
              49                                               16.6
              50                                               17.6
              51                                               21.0
              52                                               23.0
              53                                               23.1
              54                                               25.0
              55                                               25.6
              56                                               26.9
              57                                               27.3

                  Under 18 years - Related Children in Families - Total  \
              0                                               72558
              1                                               72383
              2                                               72246
              3                                               72573
              4                                               72545
              5                                               72568
              6                                               72581
              7                                               73410
              8                                               72980
              9                                               72792
              10                                              72609
              11                                              72095
              12                                              72133
              13                                              71907
              14                                              71619
              15                                              70950
              16                                              70538
              17                                              70424
              18                                              70253
              19                                              69844
              20                                              69411
              21                                              69425
              22                                              68819
              23                                              68040
              24                                              67256
              25                                              64800
              26                                              63908
              27                                              63225
              28                                              62906
              29                                              62423
              30                                              62009
              31                                              62019
              32                                              61681
              33                                              61578
              34                                              61565
              35                                              61756
              36                                              62168
              37                                              62646
              38                                              61987
              39                                              62823
              40                                              63729
              41                                              64750
              42                                              65802
              43                                              66626
              44                                              67592
              45                                              68474
              46                                              68815
              47                                              68746
              48                                              70035
              49                                              70058
              50                                              69869
              51                                              69638
              52                                              69364
              53                                              68837
              54                                              67385
              55                                              65792
              56                                              65275
              57                                              63995

                  Under 18 years - Related Children in Families - Below Poverty - Number  \
              0                                               13962
              1                                               14987
              2                                               15116
              3                                               14142
              4                                               15437
              5                                               15539
              6                                               15598
              7                                               14774
              8                                               13507
              9                                               12802
              10                                              12299
              11                                              12335
              12                                              12473
              13                                              12340
              14                                              11646
              15                                              11175
              16                                              11005
              17                                              11678
              18                                              12845
              19                                              13422
              20                                              13764
              21                                              13999
              22                                              14610
              23                                              14961
              24                                              14521
              25                                              13658
              26                                              12715
              27                                              12001
              28                                              11935
              29                                              12275
              30                                              12257
              31                                              12483
              32                                              12929
              33                                              13427
              34                                              13139
              35                                              12068

In [30]:
pbsc_dfs

OrderedDict([('All People',
                 All People - 2014 - Total  2014 - Below Poverty - Number  \
              0                     315804                          46657

                 2014 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                857

                 2014 - Below Poverty - Percent  \
              0                            14.8

                 2014 - Below Poverty - Percent - Margin of error1 (+/-)  2015 - Total  \
              0                                                0.3              318454

                 2015 - Below Poverty - Number  \
              0                          43123

                 2015 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                926

                 2015 - Below Poverty - Percent  \
              0                            13.5

                 2015 - Below Poverty - Percent - Margin of error1 (+/-)  \
              0                                                0.3

                Change in poverty (2015 less 2014)2,* - Number  \
              0                                        *-3,534

                Change in poverty (2015 less 2014)2,* - Percent
              0                                           *-1.2  ),
             ('Education Attainment',
                        Education Attainment  2014 - Total  2014 - Below Poverty - Number  \
              0     Total, aged 25 and older        212132                          25163
              1       No high school diploma         24582                           7098
              2      High school, no college         62575                           8898
              3      Some college, no degree         56031                           5719
              4  Bachelor's degree or higher         68945                           3449

                 2014 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                485
              1                                                218
              2                                                279
              3                                                207
              4                                                168

                 2014 - Below Poverty - Percent  \
              0                            11.9
              1                            28.9
              2                            14.2
              3                            10.2
              4                             5.0

                 2014 - Below Poverty - Percent - Margin of error1 (+/-)  2015 - Total  \
              0                                                0.2              215015
              1                                                0.8               23453
              2                                                0.4               62002
              3                                                0.4               57660
              4                                                0.2               71900

                 2015 - Below Poverty - Number  \
              0                          22957
              1                           6171
              2                           8016
              3                           5550
              4                           3221

                 2015 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                526
              1                                                240
              2                                                277
              3                                                200
              4                                                176

                 2015 - Below Poverty - Percent  \
              0                            10.7
              1                            26.3
              2                            12.9
              3                             9.6
              4                             4.5

                 2015 - Below Poverty - Percent - Margin of error1 (+/-)  \
              0                                                0.2
              1                                                0.8
              2                                                0.4
              3                                                0.3
              4                                                0.2

                Change in poverty (2015 less 2014)2,* - Number  \
              0                                        *-2,207
              1                                          *-928
              2                                          *-882
              3                                           -169
              4                                          *-228

                Change in poverty (2015 less 2014)2,* - Percent
              0                                           *-1.2
              1                                           *-2.6
              2                                           *-1.3
              3                                           *-0.6
              4                                           *-0.5  ),
             ('Work Experience',
                                 Work Experience  2014 - Total  \
              0             Total, aged 18 to 64        196254
              1                      All workers        147712
              2     Worked full-time, year-round        103379
              3  Less than full-time, year-round         44332
              4     Did not work at least 1 week         48542

                 2014 - Below Poverty - Number  \
              0                          26527
              1                          10155
              2                           3091
              3                           7064
              4                          16372

                 2014 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                533
              1                                                270
              2                                                148
              3                                                231
              4                                                424

                 2014 - Below Poverty - Percent  \
              0                            13.5
              1                             6.9
              2                             3.0
              3                            15.9
              4                            33.7

                 2014 - Below Poverty - Percent - Margin of error1 (+/-)  2015 - Total  \
              0                                                0.3              197260
              1                                                0.2              150229
              2                                                0.1              105695
              3                                                0.5               44534
              4                                                0.7               47031

                 2015 - Below Poverty - Number  \
              0                          24414
              1                           9457
              2                           2537
              3                           6920
              4                          14957

                 2015 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                566
              1                                                297
              2                                                136
              3                                                263
              4                                                399

                 2015 - Below Poverty - Percent  \
              0                            12.4
              1                             6.3
              2                             2.4
              3                            15.5
              4                            31.8

                 2015 - Below Poverty - Percent - Margin of error1 (+/-)  \
              0                                                0.3
              1                                                0.2
              2                                                0.1
              3                                                0.6
              4                                                0.7

                Change in poverty (2015 less 2014)2,* - Number  \
              0                                        *-2,114
              1                                          *-698
              2                                          *-554
              3                                           -144
              4                                        *-1,415

                Change in poverty (2015 less 2014)2,* - Percent
              0                                           *-1.1
              1                                           *-0.6
              2                                           *-0.6
              3                                            -0.4
              4                                           *-1.9  ),
             ('Disability Status',
                             Disability Status5  2014 - Total  \
              0            Total, aged 18 to 64        196254
              1               With a disability         15429
              2              With no disability        179905

                 2014 - Below Poverty - Number  \
              0                          26527
              1                           4403
              2                          22055

                 2014 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                533
              1                                                195
              2                                                471

                 2014 - Below Poverty - Percent  \
              0                            13.5
              1                            28.5
              2                            12.3

                 2014 - Below Poverty - Percent - Margin of error1 (+/-)  2015 - Total  \
              0                                                0.3              197260
              1                                                1.1               15276
              2                                                0.3              181069

                 2015 - Below Poverty - Number  \
              0                          24414
              1                           4358
              2                          20000

                 2015 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                566
              1                                                191
              2                                                526

                 2015 - Below Poverty - Percent  \
              0                            12.4
              1                            28.5
              2                            11.0

                 2015 - Below Poverty - Percent - Margin of error1 (+/-)  \
              0                                                0.3
              1                                                1.1
              2                                                0.3

                Change in poverty (2015 less 2014)2,* - Number  \
              0                                        *-2,114
              1                                            -45
              2                                        *-2,056

                Change in poverty (2015 less 2014)2,* - Percent
              0                                           *-1.1
              1                                               Z
              2                                           *-1.2  ),
             ('Residence',
                                               Residence  2014 - Total  \
              0    Inside metropolitan statistical areas        265788
              1                  Inside principal cities         99182
              2                 Outside principal cities        166606
              3  Outside metropolitan statistical areas4         50016

                 2014 - Below Poverty - Number  \
              0                          38416
              1                          18708
              2                          19708
              3                           8241

                 2014 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                895
              1                                                664
              2                                                659
              3                                                526

                 2014 - Below Poverty - Percent  \
              0                            14.5
              1                            18.9
              2                            11.8
              3                            16.5

                 2014 - Below Poverty - Percent - Margin of error1 (+/-)  2015 - Total  \
              0                                                0.3              274046
              1                                                0.6              103617
              2                                                0.3              170429
              3                                                0.7               44408

                 2015 - Below Poverty - Number  \
              0                          35718
              1                          17368
              2                          18350
              3                           7405

                 2015 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                932
              1                                                649
              2                                                695
              3                                                638

                 2015 - Below Poverty - Percent  \
              0                            13.0
              1                            16.8
              2                            10.8
              3                            16.7

                 2015 - Below Poverty - Percent - Margin of error1 (+/-)  \
              0                                                0.3
              1                                                0.6
              2                                                0.4
              3                                                0.8

                Change in poverty (2015 less 2014)2,* - Number  \
              0                                        *-2,698
              1                                        *-1,340
              2                                        *-1,357
              3                                          *-836

                Change in poverty (2015 less 2014)2,* - Percent
              0                                           *-1.4
              1                                           *-2.1
              2                                           *-1.1
              3                                             0.2  ),
             ('Age',
                               Age  2014 - Total  2014 - Below Poverty - Number  \
              0       Under age 18         73556                          15540
              1      Aged 18 to 64        196254                          26527
              2  Aged 65 and older         45994                           4590

                 2014 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                406
              1                                                533
              2                                                176

                 2014 - Below Poverty - Percent  \
              0                            21.1
              1                            13.5
              2                            10.0

                 2014 - Below Poverty - Percent - Margin of error1 (+/-)  2015 - Total  \
              0                                                0.5               73647
              1                                                0.3              197260
              2                                                0.4               47547

                 2015 - Below Poverty - Number  \
              0                          14509
              1                          24414
              2                           4201

                 2015 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                449
              1                                                566
              2                                                203

                 2015 - Below Poverty - Percent  \
              0                            19.7
              1                            12.4
              2                             8.8

                 2015 - Below Poverty - Percent - Margin of error1 (+/-)  \
              0                                                0.6
              1                                                0.3
              2                                                0.4

                Change in poverty (2015 less 2014)2,* - Number  \
              0                                        *-1,031
              1                                        *-2,114
              2                                          *-389

                Change in poverty (2015 less 2014)2,* - Percent
              0                                           *-1.4
              1                                           *-1.1
              2                                           *-1.1  ),
             ('Sex',       Sex  2014 - Total  2014 - Below Poverty - Number  \
              0    Male        154639                          20708
              1  Female        161164                          25949

                 2014 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                443
              1                                                524

                 2014 - Below Poverty - Percent  \
              0                            13.4
              1                            16.1

                 2014 - Below Poverty - Percent - Margin of error1 (+/-)  2015 - Total  \
              0                                                0.3              156009
              1                                                0.3              162445

                 2015 - Below Poverty - Number  \
              0                          19037
              1                          24086

                 2015 - Below Poverty - Number - Margin of error1 (+/-)  \
              0                                                470
              1                                                548

                 2015 - Below Poverty - Percent  \
              0                            12.2
              1                            14.8

                 2015 - Below Poverty - Percent - Margin of error1 (+/-)  \
              0                                                0.3
              1                                                0.3

                Change in poverty (2015 less 2014)2,* - Number  \
              0                                        *-1,671

### Review columns available in all DataFrames

This is just an exploratory step where we try to understand the contents of the Excel workbooks.

In [8]:
print("TBL3_POVERTY_BY_RACE:")
for k, df in pbr_dfs.items():
    print(f"    {k} - {df.columns}\n")
    
print("TBL3_POVERTY_BY_SELECTED_CHARS:")
for k, df in pbsc_dfs.items():
    print(f"    {k} - {df.columns}\n")

TBL3_POVERTY_BY_RACE:
    all races - Index(['ALL RACES- Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       '18 to 64 years - Total', '18 to 64 years - Below Poverty - Number',
       '18 to 64 years - Below Poverty - Percent', '65 years and over - Total',
       '65 years and over - Below Poverty - Number',
       '65 years and over - Below Poverty - Percent'],
      dtype='object')

    WHITE, NOT HISPANIC - Index(['WHITE, NOT HISPANIC- Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       '18 to 64 years - Total', '18 to 64 years - Below Poverty - Number',
       '18 to 64 years - Below Poverty - Percent', '65 years and over - Total',
       '65 years and over - Below Poverty - Number',
       '65 years and over - Below Poverty - Percent'],
      dtype='object')

    ASIAN AND PACIFIC ISLANDER - Index(['ASIAN AND PACIFIC ISLANDER - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       '18 to 64 years - Total', '18 to 64 years - Below Poverty - Number',
       '18 to 64 years - Below Poverty - Percent', '65 years and over - Total',
       '65 years and over - Below Poverty - Number',
       '65 years and over - Below Poverty - Percent'],
      dtype='object')

    ASIAN ALONE - Index(['ASIAN ALONE - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

    ASIAN ALONE OR IN COMBINATION - Index(['ASIAN ALONE OR IN COMBINATION - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

    BLACK - Index(['BLACK - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

    BLACK ALONE  - Index(['BLACK ALONE - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

    BLACK ALONE OR IN COMBO - Index(['BLACK ALONE OR IN COMBO - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

    WHITE ALONE - Index(['WHITE ALONE OR IN COMBO - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

    WHITE - Index(['WHITE - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

    WHITE ALONE, NOT HISPANIC - Index(['WHITE ALONE, NOT HISPANIC - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

    HISPANIC, ANY RACE - Index(['HISPANIC (ANY RACE) - Year and Characteristic',
       'Under 18 years - All People - Total ',
       'Under 18 years - All People - Below Poverty - Number',
       'Under 18 years - All People - Below Poverty - Percent',
       'Under 18 years - Related Children in Families - Total',
       'Under 18 years - Related Children in Families - Below Poverty - Number',
       'Under 18 years - Related Children in Families - Below Poverty - Percent',
       'Under 18 years - 18 to 64 years - Total',
       'Under 18 years - 18 to 64 years - Below Poverty - Number',
       'Under 18 years - 18 to 64 years - Below Poverty - Percent',
       'Under 18 years - 65 years and over - Total',
       'Under 18 years - 65 years and over - Below Poverty - Number',
       'Under 18 years - 65 years and over - Below Poverty - Percent'],
      dtype='object')

TBL3_POVERTY_BY_SELECTED_CHARS:
    All People - Index(['All People - 2014 - Total', '2014 - Below Poverty - Number',
       '2014 - Below Poverty - Number - Margin of error1 (+/-)',
       '2014 - Below Poverty - Percent',
       '2014 - Below Poverty - Percent - Margin of error1 (+/-)',
       '2015 - Total', '2015 - Below Poverty - Number',
       '2015 - Below Poverty - Number - Margin of error1 (+/-)',
       '2015 - Below Poverty - Percent',
       '2015 - Below Poverty - Percent - Margin of error1 (+/-)',
       'Change in poverty (2015 less 2014)2,* - Number',
       'Change in poverty (2015 less 2014)2,* - Percent'],
      dtype='object')

    Education Attainment - Index(['Education Attainment', '2014 - Total', '2014 - Below Poverty - Number',
       '2014 - Below Poverty - Number - Margin of error1 (+/-)',
       '2014 - Below Poverty - Percent',
       '2014 - Below Poverty - Percent - Margin of error1 (+/-)',
       '2015 - Total', '2015 - Below Poverty - Number',
       '2015 - Below Poverty - Number - Margin of error1 (+/-)',
       '2015 - Below Poverty - Percent',
       '2015 - Below Poverty - Percent - Margin of error1 (+/-)',
       'Change in poverty (2015 less 2014)2,* - Number',
       'Change in poverty (2015 less 2014)2,* - Percent'],
      dtype='object')

    Work Experience - Index(['Work Experience', '2014 - Total', '2014 - Below Poverty - Number',
       '2014 - Below Poverty - Number - Margin of error1 (+/-)',
       '2014 - Below Poverty - Percent',
       '2014 - Below Poverty - Percent - Margin of error1 (+/-)',
       '2015 - Total', '2015 - Below Poverty - Number',
       '2015 - Below Poverty - Number - Margin of error1 (+/-)',
       '2015 - Below Poverty - Percent',
       '2015 - Below Poverty - Percent - Margin of error1 (+/-)',
       'Change in poverty (2015 less 2014)2,* - Number',
       'Change in poverty (2015 less 2014)2,* - Percent'],
      dtype='object')

    Disability Status - Index(['Disability Status5', '2014 - Total', '2014 - Below Poverty - Number',
       '2014 - Below Poverty - Number - Margin of error1 (+/-)',
       '2014 - Below Poverty - Percent',
       '2014 - Below Poverty - Percent - Margin of error1 (+/-)',
       '2015 - Total', '2015 - Below Poverty - Number',
       '2015 - Below Poverty - Number - Margin of error1 (+/-)',
       '2015 - Below Poverty - Percent',
       '2015 - Below Poverty - Percent - Margin of error1 (+/-)',
       'Change in poverty (2015 less 2014)2,* - Number',
       'Change in poverty (2015 less 2014)2,* - Percent'],
      dtype='object')

    Residence - Index(['Residence', '2014 - Total', '2014 - Below Poverty - Number',
       '2014 - Below Poverty - Number - Margin of error1 (+/-)',
       '2014 - Below Poverty - Percent',
       '2014 - Below Poverty - Percent - Margin of error1 (+/-)',
       '2015 - Total', '2015 - Below Poverty - Number',
       '2015 - Below Poverty - Number - Margin of error1 (+/-)',
       '2015 - Below Poverty - Percent',
       '2015 - Below Poverty - Percent - Margin of error1 (+/-)',
       'Change in poverty (2015 less 2014)2,* - Number',
       'Change in poverty (2015 less 2014)2,* - Percent'],
      dtype='object')

    Age - Index(['Age', '2014 - Total', '2014 - Below Poverty - Number',
       '2014 - Below Poverty - Number - Margin of error1 (+/-)',
       '2014 - Below Poverty - Percent',
       '2014 - Below Poverty - Percent - Margin of error1 (+/-)',
       '2015 - Total', '2015 - Below Poverty - Number',
       '2015 - Below Poverty - Number - Margin of error1 (+/-)',
       '2015 - Below Poverty - Percent',
       '2015 - Below Poverty - Percent - Margin of error1 (+/-)',
       'Change in poverty (2015 less 2014)2,* - Number',
       'Change in poverty (2015 less 2014)2,* - Percent'],
      dtype='object')

    Sex - Index(['Sex', '2014 - Total', '2014 - Below Poverty - Number',
       '2014 - Below Poverty - Number - Margin of error1 (+/-)',
       '2014 - Below Poverty - Percent',
       '2014 - Below Poverty - Percent - Margin of error1 (+/-)',
       '2015 - Total', '2015 - Below Poverty - Number',
       '2015 - Below Poverty - Number - Margin of error1 (+/-)',
       '2015 - Below Poverty - Percent',
       '2015 - Below Poverty - Percent - Margin of error1 (+/-)',
       'Change in poverty (2015 less 2014)2,* - Number',
       'Change in poverty (2015 less 2014)2,* - Percent'],
      dtype='object')

    Family Status - Index(['Family Status', '2014 - Total', '2014 - Below Poverty - Number',
       '2014 - Below Poverty - Number - Margin of error1 (+/-)',
       '2014 - Below Poverty - Percent',
       '2014 - Below Poverty - Percent - Margin of error1 (+/-)',
       '2015 - Total', '2015 - Below Poverty - Number',
       '2015 - Below Poverty - Number - Margin of error1 (+/-)',
       '2015 - Below Poverty - Percent',
       '2015 - Below Poverty - Percent - Margin of error1 (+/-)',
       'Change in poverty (2015 less 2014)2,* - Number',
       'Change in poverty (2015 less 2014)2,* - Percent'],
      dtype='object')

    Race and Hispanic Origin - Index(['Race3 and Hispanic Origin', '2014 - Total',
       '2014 - Below Poverty - Number',
       '2014 - Below Poverty - Number - Margin of error1 (+/-)',
       '2014 - Below Poverty - Percent',
       '2014 - Below Poverty - Percent - Margin of error1 (+/-)',
       '2015 - Total', '2015 - Below Poverty - Number',
       '2015 - Below Poverty - Number - Margin of error1 (+/-)',
       '2015 - Below Poverty - Percent',
       '2015 - Below Poverty - Percent - Margin of error1 (+/-)',
       'Change in poverty (2015 less 2014)2,* - Number',
       'Change in poverty (2015 less 2014)2,* - Percent'],
      dtype='object')

    Naitvity - Index(['Nativity', '2014 - Total', '2014 - Below Poverty - Number',
       '2014 - Below Poverty - Number - Margin of error1 (+/-)',
       '2014 - Below Poverty - Percent',
       '2014 - Below Poverty - Percent - Margin of error1 (+/-)',
       '2015 - Total', '2015 - Below Poverty - Number',
       '2015 - Below Poverty - Number - Margin of error1 (+/-)',
       '2015 - Below Poverty - Percent',
       '2015 - Below Poverty - Percent - Margin of error1 (+/-)',
       'Change in poverty (2015 less 2014)2,* - Number',
       'Change in poverty (2015 less 2014)2,* - Percent'],
      dtype='object')

    Region - Index(['Region', '2014 - Total', '2014 - Below Poverty - Number',
       '2014 - Below Poverty - Number - Margin of error1 (+/-)',
       '2014 - Below Poverty - Percent',
       '2014 - Below Poverty - Percent - Margin of error1 (+/-)',
       '2015 - Total', '2015 - Below Poverty - Number',
       '2015 - Below Poverty - Number - Margin of error1 (+/-)',
       '2015 - Below Poverty - Percent',
       '2015 - Below Poverty - Percent - Margin of error1 (+/-)',
       'Change in poverty (2015 less 2014)2,* - Number',
       'Change in poverty (2015 less 2014)2,* - Percent'],
      dtype='object')

In [33]:
print("TBL3_POVERTY_BY_RACE:")
for k, df in pbr_dfs.items():
    print ("k: " + str (k))
    print ("df: " + str(df))
    print(f"    {k} - {df.columns}\n")

TBL3_POVERTY_BY_RACE:
k: all races
df:    ALL RACES- Year and Characteristic  Under 18 years - All People - Total   \
0                                2015                                 73647
1                                2014                                 73556
2                           2013 (19)                                 73439
3                           2013 (18)                                 73625
4                                2012                                 73719
5                                2011                                 73737
6                           2010 (17)                                 73873
7                                2009                                 74579
8                                2008                                 74068
9                                2007                                 73996
10                               2006                                 73727
11                               2005                                 73285
12                          2004 (14)                                 73241
13                               2003                                 72999
14                               2002                                 72696
15                               2001                                 72021
16                          2000 (12)                                 71741
17                          1999 (11)                                 71685
18                               1998                                 71338
19                               1997                                 71069
20                               1996                                 70650
21                               1995                                 70566
22                               1994                                 70020
23                          1993 (10)                                 69292
24                          1992 (9 )                                 68440
25                          1991 (8 )                                 65918
26                               1990                                 65049
27                               1989                                 64144
28                               1988                                 63747
29                          1987 (7 )                                 63294
30                               1986                                 62948
31                               1985                                 62876
32                               1984                                 62447
33                          1983 (6 )                                 62334
34                               1982                                 62345
35                          1981 (5 )                                 62449
36                               1980                                 62914
37                          1979 (4 )                                 63375
38                               1978                                 62311
39                               1977                                 63137
40                               1976                                 64028
41                               1975                                 65079
42                          1974 (3 )                                 66134
43                               1973                                 66959
44                               1972                                 67930
45                          1971 (2 )                                 68816
46                               1970                                 69159
47                               1969                                 69090
48                               1968                                 70385
49                          1967 (1 )                                 70408
50                               1966                                 70218
51                               1965                                 69986
52                               1964                                 69711
53                               1963                                 69181
54                               1962                                 67722
55                               1961                                 66121
56                               1960                                 65601
57                               1959                                 64315

    Under 18 years - All People - Below Poverty - Number  \
0                                               14509
1                                               15540
2                                               15801
3                                               14659
4                                               16073
5                                               16134
6                                               16286
7                                               15451
8                                               14068
9                                               13324
10                                              12827
11                                              12896
12                                              13041
13                                              12866
14                                              12133
15                                              11733
16                                              11587
17                                              12280
18                                              13467
19                                              14113
20                                              14463
21                                              14665
22                                              15289
23                                              15727
24                                              15294
25                                              14341
26                                              13431
27                                              12590
28                                              12455
29                                              12843
30                                              12876
31                                              13010
32                                              13420
33                                              13911
34                                              13647
35                                              12505
36                                              11543
37                                              10377
38                                               9931
39                                              10288
40                                              10273
41                                              11104
42                                              10156
43                                               9642
44                                              10284
45                                              10551
46                                              10440
47                                               9691
48                                              10954
49                                              11656
50                                              12389
51                                              14676
52                                              16051
53                                              16005
54                                              16963
55                                              16909
56                                              17634
57                                              17552

    Under 18 years - All People - Below Poverty - Percent  \
0                                                19.7
1                                                21.1
2                                                21.5
3                                                19.9
4                                                21.8
5                                                21.9
6                                                22.0
7                                                20.7
8                                                19.0
9                                                18.0
10                                               17.4
11                                               17.6
12                                               17.8
13                                               17.6
14                                               16.7
15                                               16.3
16                                               16.2
17                                               17.1
18                                               18.9
19                                               19.9
20                                               20.5
21                                               20.8
22                                               21.8
23                                               22.7
24                                               22.3
25                                               21.8
26                                               20.6
27                                               19.6
28                                               19.5
29                                               20.3
30                                               20.5
31                                               20.7
32                                               21.5
33                                               22.3
34                                               21.9
35                                               20.0
36                                               18.3
37                                               16.4
38                                               15.9
39                                               16.2
40                                               16.0
41                                               17.1
42                                               15.4
43                                               14.4
44                                               15.1
45                                               15.3
46                                               15.1
47                                               14.0
48                                               15.6
49                                               16.6
50                                               17.6
51                                               21.0
52                                               23.0
53                                               23.1
54                                               25.0
55                                               25.6
56                                               26.9
57                                               27.3

    Under 18 years - Related Children in Families - Total  \
0                                               72558
1                                               72383
2                                               72246
3                                               72573
4                                               72545
5                                               72568
6                                               72581
7                                               73410
8                                               72980
9                                               72792
10                                              72609
11                                              72095
12                                              72133
13                                              71907
14                                              71619
15                                              70950
16                                              70538
17                                              70424
18                                              70253
19                                              69844
20                                              69411
21                                              69425
22                                              68819
23                                              68040
24                                              67256
25                                              64800
26                                              63908
27                                              63225
28                                              62906
29                                              62423
30                                              62009
31                                              62019
32                                              61681
33                                              61578
34                                              61565
35                                              61756
36                                              62168
37                                              62646
38                                              61987
39                                              62823
40                                              63729
41                                              64750
42                                              65802
43                                              66626
44                                              67592
45                                              68474
46                                              68815
47                                              68746
48                                              70035
49                                              70058
50                                              69869
51                                              69638
52                                              69364
53                                              68837
54                                              67385
55                                              65792
56                                              65275
57                                              63995

    Under 18 years - Related Children in Families - Below Poverty - Number  \
0                                               13962
1                                               14987
2                                               15116
3                                               14142
4                                               15437
5                                               15539
6                                               15598
7                                               14774
8                                               13507
9                                               12802
10                                              12299
11                                              12335
12                                              12473
13                                              12340
14                                              11646
15                                              11175
16                                              11005
17                                              11678
18                                              12845
19                                              13422
20                                              13764
21                                              13999
22                                              14610
23                                              14961
24                                              14521
25                                              13658
26                                              12715
27                                              12001
28                                              11935
29                                              12275
30                                              12257
31                                              12483
32                                              12929
33                                              13427
34                                              13139
35                                              12068
36                                              11114
37                                               9993
38                                               9722
39                                              10028
40                                              10081
41                                              10882
42                                               9967
43                                               9453
44                                              10082
45                                              10344
46                                              10235
47                                               9501
48                                              10739
49                                              11427
50                                              12146
51                                              14388
52                                              15736
53                                              15691
54                                              16630
55                                              16577
56                                              17288
57                                              17208

    Under 18 years - Related Children in Families - Below Poverty - Percent  \
0                                                19.2
1                                                20.7
2                                                20.9
3                                                19.5
4                                                21.3
5                                                21.4
6                                                21.5
7                                                20.1
8                                                18.5
9                                                17.6
10                                               16.9
11                                               17.1
12                                               17.3
13                                               17.2
14                                               16.3
15                                               15.8
16                                               15.6
17                                               16.6
18                                               18.3
19                                               19.2
20                                               19.8
21                                               20.2
22                                               21.2
23                                               22.0
24                                               21.6
25                                               21.1
26                                               19.9
27                                               19.0
28                                               19.0
29                                               19.7
30                                               19.8
31                                               20.1
32                                               21.0
33                                               21.8
34                                               21.3
35                                               19.5
36                                               17.9
37                                               16.0
38                                               15.7
39                                               16.0
40                                               15.8
41                                               16.8
42                                               15.1
43                                               14.2
44                                               14.9
45                                               15.1
46                                               14.9
47                                               13.8

df:    WHITE - Year and Characteristic Under 18 years - All People - Total   \
0                             2001                                56089
1                        2000 (12)                                55980
2                        1999 (11)                                55833
3                             1998                                56016
4                             1997                                55863
5                             1996                                55606
6                             1995                                55444
7                             1994                                55186
8                        1993 (10)                                54639
9                        1992 (9 )                                54110
10                       1991 (8 )                                52523
11                            1990                                51929
12                            1989                                51400
13                            1988                                51203
14                       1987 (7 )                                51012
15                            1986                                51111
16                            1985                                51031
17                            1984                                50814
18                       1983 (6 )                                50726
19                            1982                                50920
20                       1981 (5 )                                51140
21                            1980                                51653
22                       1979 (4 )                                52262
23                            1978                                51669
24                            1977                                52563
25                            1976                                53428
26                            1975                                54405
27                       1974 (3 )                                55590
28                            1973                                 (NA)
29                            1972                                 (NA)
30                       1971 (2 )                                 (NA)
31                            1970                                 (NA)
32                            1969                                 (NA)
33                            1968                                 (NA)
34                       1967 (1 )                                 (NA)
35                            1966                                 (NA)
36                            1965                                 (NA)
37                            1960                                 (NA)
38                            1959                                 (NA)

   Under 18 years - All People - Below Poverty - Number  \
0                                                7527
1                                                7307
2                                                7639
3                                                8443
4                                                8990
5                                                9044
6                                                8981
7                                                9346
8                                                9752
9                                                9399
10                                               8848
11                                               8232
12                                               7599
13                                               7435
14                                               7788
15                                               8209
16                                               8253
17                                               8472
18                                               8862
19                                               8678
20                                               7785
21                                               7181
22                                               6193
23                                               5831
24                                               6097
25                                               6189
26                                               6927
27                                               6223
28                                               (NA)
29                                               (NA)
30                                               (NA)
31                                               (NA)
32                                               (NA)
33                                               (NA)
34                                               (NA)
35                                               (NA)
36                                               (NA)
37                                               (NA)
38                                               (NA)

   Under 18 years - All People - Below Poverty - Percent  \
0                                                13.4
1                                                13.1
2                                                13.7
3                                                15.1
4                                                16.1
5                                                16.3
6                                                16.2
7                                                16.9
8                                                17.8
9                                                17.4
10                                               16.8
11                                               15.9
12                                               14.8
13                                               14.5
14                                               15.3
15                                               16.1
16                                               16.2
17                                               16.7
18                                               17.5
19                                                 17
20                                               15.2
21                                               13.9
22                                               11.8
23                                               11.3
24                                               11.6
25                                               11.6
26                                               12.7
27                                               11.2
28                                               (NA)
29                                               (NA)
30                                               (NA)
31                                               (NA)
32                                               (NA)
33                                               (NA)
34                                               (NA)
35                                               (NA)
36                                               (NA)
37                                               (NA)
38                                               (NA)

   Under 18 years - Related Children in Families - Total  \
0                                               55238
1                                               55021
2                                               54873
3                                               55126
4                                               54870
5                                               54599
6                                               54532
7                                               54221
8                                               53614
9                                               53110
10                                              51627
11                                              51028
12                                              50704
13                                              50590
14                                              50360
15                                              50356
16                                              50358
17                                              50192
18                                              50183
19                                              50305
20                                              50553
21                                              51002
22                                              51687
23                                              51409
24                                              52299
25                                              53167
26                                              54126
27                                              55320
28                                              56211
29                                              57181
30                                              58119
31                                              58472
32                                              58578
33                                               (NA)
34                                               (NA)
35                                               (NA)
36                                               (NA)
37                                               (NA)
38                                               (NA)

    Under 18 years - Related Children in Families - Below Poverty - Number  \
0                                                7086
1                                                6834
2                                                7194
3                                                7935
4                                                8441
5                                                8488
6                                                8474
7                                                8826
8                                                9123
9                                                8752
10                                               8316
11                                               7696
12                                               7164
13                                               7095
14                                               7398
15                                               7714
16                                               7838
17                                               8086
18                                               8534
19                                               8282
20                                               7429
21                                               6817
22                                               5909
23                                               5674
24                                               5943
25                                               6034
26                                               6748
27                                               6079
28                                               5462
29                                               5784
30                                               6341
31                                               6138
32                                               5667
33                                               6373
34                                               6729
35                                               7204
36                                               8595
37                                              11229
38                                              11386

    Under 18 years - Related Children in Families - Below Poverty - Percent  \
0                                                12.8
1                                                12.4
2                                                13.1
3                                                14.4
4                                                15.4
5                                                15.5
6                                                15.5
7                                                16.3
8                                                17.0
9                                                16.5
10                                               16.1
11                                               15.1
12                                               14.1
13                                               14.0
14                                               14.7
15                                               15.3
16                                               15.6
17                                               16.1
18                                               17.0
19                                               16.5
20                                               14.7
21                                               13.4
22                                               11.4
23                                               11.0
24                                               11.4
25                                               11.3
26                                               12.5
27                                               11.0
28                                                9.7
29                                               10.1
30                                               10.9
31                                               10.5
32                                                9.7
33                                               10.7
34                                               11.3
35                                               12.1
36                                               14.4
37                                               20.0
38                                               20.6

   Under 18 years - 18 to 64 years - Total  \
0                                   143796
1                                   142164
2                                   139974
3                                   138061
4                                   136784
5                                   135586
6                                   134149
7                                   133289
8                                   132680
9                                   131694
10                                  130312
11                                  129784
12                                  128974
13                                  128031
14                                  126991
15                                  125998
16                                  125258
17                                  123922
18                                  123014
19                                  121766
20                                  120574
21                                  118935
22                                  117583
23                                  113832
24                                  112374
25                                  110717
26                                  109105
27                                  107579
28                                    (NA)
29                                    (NA)
30                                    (NA)
31                                    (NA)
32                                    (NA)
33                                    (NA)
34                                    (NA)
35                                    (NA)
36                                    (NA)
37                                    (NA)
38                                    (NA)

   Under 18 years - 18 to 64 years - Below Poverty - Number  \
0                                               12555
1                                               11754
2                                               12085
3                                               12456
4                                               12838
5                                               12940
6                                               12869
7                                               13187
8                                               13535
9                                               12871
10                                              12097
11                                              11387
12                                              10647
13                                              10687
14                                              10703
15                                              11285
16                                              11909
17                                              11904
18                                              12347
19                                              11971
20                                              10790
21                                               9478
22                                               8110
23                                               7897
24                                               7893
25                                               7890
26                                               8210
27                                               7053
28                                               (NA)
29                                               (NA)
30                                               (NA)
31                                               (NA)
32                                               (NA)
33                                               (NA)
34                                               (NA)
35                                               (NA)
36                                               (NA)
37                                               (NA)
38                                               (NA)

   Under 18 years - 18 to 64 years - Below Poverty - Percent  \
0                                                 8.7
1                                                 8.3
2                                                 8.6
3                                                   9
4                                                 9.4
5                                                 9.5
6                                                 9.6
7                                                 9.9
8                                                10.2
9                                                 9.8
10                                                9.3
11                                                8.8
12                                                8.3
13                                                8.3
14                                                8.4
15                                                  9
16                                                9.5
17                                                9.6
18                                                 10
19                                                9.8
20                                                8.9
21                                                  8
22                                                6.9
23                                                6.9
24                                                  7
25                                                7.1
26                                                7.5
27                                                6.6
28                                               (NA)
29                                               (NA)
30                                               (NA)
31                                               (NA)
32                                               (NA)
33                                               (NA)
34                                               (NA)
35                                               (NA)
36                                               (NA)
37                                               (NA)
38                                               (NA)

   Under 18 years - 65 years and over - Total  \
0                                       29790
1                                       29703

In [9]:
all_pbr_df = pd.DataFrame({"Year":[], "AgeBand":[], "Race":[], "Total":[], "BelowPoverty":[]})

for key, df in pbr_dfs.items():
    clean_column_names = {df.columns[0]:"Year", 
                          df.columns[1]: "Under 18 - Total", 
                          df.columns[2]: "Under 18 - Below Poverty", 
                          df.columns[3]: "Under 18 - Below Poverty %", 
                          df.columns[4]: "Under 18 - Children Total", 
                          df.columns[5]: "Under 18 - Children Below Poverty", 
                          df.columns[6]: "Under 18 - Children Below Poverty %", 
                          df.columns[7]: "18 to 64 - Total", 
                          df.columns[8]: "18 to 64 - Below Poverty", 
                          df.columns[9]: "18 to 64 - Below Poverty %", 
                          df.columns[10]: "65 and Over - Total", 
                          df.columns[11]: "65 and Over - Below Poverty", 
                          df.columns[12]: "65 and Over - Below Poverty %"}
    clean_df = df.rename(columns=clean_column_names)[["Year",
                    "Under 18 - Total", "Under 18 - Below Poverty",
                    "18 to 64 - Total", "18 to 64 - Below Poverty",
                    "65 and Over - Total", "65 and Over - Below Poverty",
                   ]]
    u18_df = clean_df[["Year", "Under 18 - Total", "Under 18 - Below Poverty"]]
    u18_normalized_columns = {"Under 18 - Total": "Total", "Under 18 - Below Poverty":"BelowPoverty"}
    u18_df = u18_df.rename(columns=u18_normalized_columns)
    u18_df["Race"] = key
    u18_df["AgeBand"] = "Under age 18"
    all_pbr_df = pd.concat([all_pbr_df, u18_df], sort=False)
    
    a1864_df = clean_df[["Year", "18 to 64 - Total", "18 to 64 - Below Poverty"]]
    a1864_normalized_columns = {"18 to 64 - Total": "Total", "18 to 64 - Below Poverty":"BelowPoverty"}
    a1864_df = a1864_df.rename(columns=a1864_normalized_columns)
    a1864_df["Race"] = key
    a1864_df["AgeBand"] = "Aged 18 to 64"
    all_pbr_df = pd.concat([all_pbr_df, a1864_df], sort=False)
    
    a65ao_df = clean_df[["Year", "65 and Over - Total", "65 and Over - Below Poverty"]]
    a65ao_normalized_columns = {"65 and Over - Total": "Total", "65 and Over - Below Poverty":"BelowPoverty"}
    a65ao_df = a65ao_df.rename(columns=a65ao_normalized_columns)
    a65ao_df["Race"] = key
    a65ao_df["AgeBand"] = "Aged 65 and older"
    all_pbr_df = pd.concat([all_pbr_df, a65ao_df], sort=False)
    
print(all_pbr_df.count())
all_pbr_df.head()

Year            933
AgeBand         933
Race            933
Total           933
BelowPoverty    933
dtype: int64

        Year       AgeBand       Race  Total BelowPoverty
0       2015  Under age 18  all races  73647        14509
1       2014  Under age 18  all races  73556        15540
2  2013 (19)  Under age 18  all races  73439        15801
3  2013 (18)  Under age 18  all races  73625        14659
4       2012  Under age 18  all races  73719        16073

In [10]:
pbsc_dfs.keys()

odict_keys(['All People', 'Education Attainment', 'Work Experience', 'Disability Status', 'Residence', 'Age', 'Sex', 'Family Status', 'Race and Hispanic Origin', 'Naitvity', 'Region'])

In [11]:
all_pbsc_df = pd.DataFrame({"Year":[], "Race":[], 
                            "Education":[], "WorkExperience":[], "DisabilityStatus":[], 
                            "Residence":[], "AgeBand":[], "Nativity":[],
                            "Gender":[], "FamilyStatus":[], "Region":[],
                            "Total":[], "BelowPoverty":[]})

char_key_to_value_map = {
    "All People": "DROP",
    "Education Attainment": "Education",
    "Work Experience": "WorkExperience",
    "Disability Status": "DisabilityStatus",
    "Residence": "Residence",
    "Age": "AgeBand",
    "Sex": "Gender",
    "Family Status": "FamilyStatus",
    "Race and Hispanic Origin": "Race",
    "Naitvity": "Nativity",
    "Region": "Region"
}

for key, df in pbsc_dfs.items():
    if key == "All People":
        continue;
    clean_column_names = {df.columns[0]:char_key_to_value_map[key], 
                          df.columns[1]: "2014 - Total", 
                          df.columns[2]: "2014 - Below Poverty", 
                          df.columns[3]: "2014 - Below Poverty MOE", 
                          df.columns[4]: "2014 - Below Poverty %", 
                          df.columns[5]: "2014 - Below Poverty % MOE", 
                          df.columns[6]: "2015 - Total", 
                          df.columns[7]: "2015 - Below Poverty", 
                          df.columns[8]: "2015 - Below Poverty MOE", 
                          df.columns[9]: "2015 - Below Poverty %", 
                          df.columns[10]: "2015 - Below Poverty % MOE", 
                          df.columns[11]: "2014-15 - Below Poverty Change", 
                          df.columns[12]: "2014-15 - Below Poverty % Change"
                         }
    clean_df = df.rename(columns=clean_column_names)[[char_key_to_value_map[key],
                                                      "2014 - Total", "2014 - Below Poverty",
                                                      "2015 - Total", "2015 - Below Poverty"]]
    
    y2014_clean_df = clean_df[[char_key_to_value_map[key],"2014 - Total", "2014 - Below Poverty"]]
    y2014_normalized_columns = {"2014 - Total": "Total", "2014 - Below Poverty":"BelowPoverty"}
    y2014_clean_df = y2014_clean_df.rename(columns=y2014_normalized_columns)
    y2015_clean_df = clean_df[[char_key_to_value_map[key],"2015 - Total", "2015 - Below Poverty"]]
    y2015_normalized_columns = {"2015 - Total": "Total", "2015 - Below Poverty":"BelowPoverty"}
    y2015_clean_df = y2015_clean_df.rename(columns=y2015_normalized_columns)
    
    clean_df = pd.concat([y2014_clean_df, y2015_clean_df])
    
    for col in all_pbsc_df.columns:
        if col not in clean_df.columns:
            clean_df[col] = "" ## Add empty columns to transform to common structure
    
    all_pbsc_df = pd.concat([all_pbsc_df, clean_df], sort=False)
    
print(all_pbsc_df.count())
all_pbsc_df.head()

Year                86
Race                86
Education           86
WorkExperience      86
DisabilityStatus    86
Residence           86
AgeBand             86
Nativity            86
Gender              86
FamilyStatus        86
Region              86
Total               86
BelowPoverty        86
dtype: int64

,Year,Race,Education,WorkExperience,DisabilityStatus,Residence,AgeBand,Nativity,Gender,FamilyStatus,Region,Total,BelowPoverty
0,,,"Total, aged 25 and older",,,,,,,,,212132.0,25163.0
1,,,No high school diploma,,,,,,,,,24582.0,7098.0
2,,,"High school, no college",,,,,,,,,62575.0,8898.0
3,,,"Some college, no degree",,,,,,,,,56031.0,5719.0
4,,,Bachelor's degree or higher,,,,,,,,,68945.0,3449.0

### Combine All Data

Here we combine DFs extracted from both excel workbooks into one consolidated DF.

In [12]:
for col in all_pbsc_df.columns:
    if col not in all_pbr_df.columns:
        all_pbr_df[col] = ""
        

all_data_df = pd.concat([all_pbr_df, all_pbsc_df], sort=False)
print(all_data_df.count())
all_data_df.head()

Year                1019
AgeBand             1019
Race                1019
Total               1019
BelowPoverty        1019
Education           1019
WorkExperience      1019
DisabilityStatus    1019
Residence           1019
Nativity            1019
Gender              1019
FamilyStatus        1019
Region              1019
dtype: int64

,Year,AgeBand,Race,Total,BelowPoverty,Education,WorkExperience,DisabilityStatus,Residence,Nativity,Gender,FamilyStatus,Region
0,2015,Under age 18,all races,73647,14509,,,,,,,,
1,2014,Under age 18,all races,73556,15540,,,,,,,,
2,2013 (19),Under age 18,all races,73439,15801,,,,,,,,
3,2013 (18),Under age 18,all races,73625,14659,,,,,,,,
4,2012,Under age 18,all races,73719,16073,,,,,,,,

### Prepare Dimensions
This is a generic reusable function which is used to extract unique dimension values and create a dataframe with columns that match DB columns.

In [13]:
def prepare_dim_df(dim):
    """
       This function returns a dimesion dataframe with unique dimension records
    """
    dim_info = []
    for index, value in enumerate(all_data_df[dim].unique()):
        if value is None or (type(value) == str and len(value) == 0):
            continue
        dim_info_row = OrderedDict()
        dim_info_row['ID'] =  index
        if (isinstance(value, str)):
            dim_info_row['CODE'] =  abbr.abbreviate(value.replace(',', '').replace(' ', '').upper(), target_len=5)
        else:
            dim_info_row['CODE'] =  str(value)
        dim_info_row['DESCRIPTION'] = value
        dim_info.append(dim_info_row)
    
    dim_df = pd.DataFrame(fo)dim_in

    return dim_df

### Prepare Year

In [24]:
#ranges of year 1959 to 2015 doesn't have all attributes as rows for each characteristics
year_df = prepare_dim_df('Year')
year_df.head()

   ID      CODE DESCRIPTION
0   0      2015        2015
1   1      2014        2014
2   2  2013(19)   2013 (19)
3   3  2013(18)   2013 (18)
4   4      2012        2012

In [28]:
year_df

    ID      CODE DESCRIPTION
0    0      2015        2015
1    1      2014        2014
2    2  2013(19)   2013 (19)
3    3  2013(18)   2013 (18)
4    4      2012        2012
5    5      2011        2011
6    6  2010(17)   2010 (17)
7    7      2009        2009
8    8      2008        2008
9    9      2007        2007
10  10      2006        2006
11  11      2005        2005
12  12  2004(14)   2004 (14)
13  13      2003        2003
14  14      2002        2002
15  15      2001        2001
16  16  2000(12)   2000 (12)
17  17  1999(11)   1999 (11)
18  18      1998        1998
19  19      1997        1997
20  20      1996        1996
21  21      1995        1995
22  22      1994        1994
23  23  1993(10)   1993 (10)
24  24   1992(9)   1992 (9 )
25  25   1991(8)   1991 (8 )
26  26      1990        1990
27  27      1989        1989
28  28      1988        1988
29  29   1987(7)   1987 (7 )
30  30      1986        1986
31  31      1985        1985
32  32      1984        1984
33  33   1983(6)   1983 (6 )
34  34      1982        1982
35  35   1981(5)   1981 (5 )
36  36      1980        1980
37  37   1979(4)   1979 (4 )
38  38      1978        1978
39  39      1977        1977
40  40      1976        1976
41  41      1975        1975
42  42   1974(3)   1974 (3 )
43  43      1973        1973
44  44      1972        1972
45  45   1971(2)   1971 (2 )
46  46      1970        1970
47  47      1969        1969
48  48      1968        1968
49  49   1967(1)   1967 (1 )
50  50      1966        1966
51  51      1965        1965
52  52      1964        1964
53  53      1963        1963
54  54      1962        1962
55  55      1961        1961
56  56      1960        1960
57  57      1959        1959

In [34]:
year_df.tail()

    ID  CODE DESCRIPTION
53  53  1963        1963
54  54  1962        1962
55  55  1961        1961
56  56  1960        1960
57  57  1959        1959

In [37]:
year_df.count()

ID             58
CODE           58
DESCRIPTION    58
dtype: int64

### Create Population DF

Here we update the combined dataframe with dimension IDs.

In [25]:
def update_value_with_id(main_df, dim, dim_df):
    """
    This function replaces dimension values with corresponding IDs
    """
    di = dim_df.set_index('DESCRIPTION').to_dict()['ID']
    main_df[dim] = pd.Series(main_df[dim].map(di), dtype=object)
    return main_df

In [26]:
population_df = all_data_df.copy()
population_df = update_value_with_id(population_df, "AgeBand", ageband_df)
population_df = update_value_with_id(population_df, "DisabilityStatus", disabilitystatus_df)
population_df = update_value_with_id(population_df, "Education", education_df)
population_df = update_value_with_id(population_df, "FamilyStatus", familystatus_df)
population_df = update_value_with_id(population_df, "Gender", gender_df)
population_df = update_value_with_id(population_df, "Nativity", nativity_df)
population_df = update_value_with_id(population_df, "Race", race_df)
population_df = update_value_with_id(population_df, "Region", region_df)
population_df = update_value_with_id(population_df, "Residence", residence_df)
population_df = update_value_with_id(population_df, "WorkExperience", workexperience_df)
population_df = update_value_with_id(population_df, "Year", year_df)
population_df.head()

,Year,AgeBand,Race,Total,BelowPoverty,Education,WorkExperience,DisabilityStatus,Residence,Nativity,Gender,FamilyStatus,Region
0,0,0,0,73647,14509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,0,73556,15540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,0,73439,15801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,0,0,73625,14659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0,0,73719,16073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Connect to DB
Here we connect to the database and explore table names.

In [27]:
USERNAME="root"
PASSWORD="rootPassword"
HOST="localhost"
PORT="3357"
SCHEMA="CENTRANZ"
connection_string = f"{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{SCHEMA}"
engine = create_engine(f'mysql://{connection_string}')
engine.table_names()

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 61] Connection refused)") (Background on this error at: http://sqlalche.me/e/e3q8)

### Insert Dimensions

Here we insert all dimensions into DB.

In [ ]:
year_df.set_index('ID').to_sql(name='YEAR', con=engine, if_exists='append')

### Fix Population DF column names to match DB column names

Here we do handle of important things. 

Change all the column names to match DB column names

By default, Pandas writes columns with integer values with some null values as floats. In our case, we have FK columns which are nullable. That is some of the rows have non null integers and some rows have null values. So default behaviour coverts all FK integer values into floats (i.e. 0 becomes 0.0, 1 becomes 1.0, etc). This behavior can be overriden by passing dtype to to_sql call.

In below code segment we use SQLAlchemy inspect API to get construct dtype dictionary.

In [ ]:
population_df.columns

In [ ]:
inspector = inspect(engine)
population_columns = inspector.get_columns('POPULATION')
dtypes = {}
for col in population_columns:
    if col['name'] == 'ID':
        continue
    dtypes[col['name']] = col['type']
dtypes

In [ ]:
column_name_map = {}

column_name_map['Year'] = "YEAR_FK"

In [ ]:
final_population_df = population_df.rename(columns=column_name_map)

In [ ]:
final_population_df.dtypes

### Drop rows with (NA) in TOTAL or BELOW_POVERTY

There are some rows which have a string value (NA), where data is not available. We drop such rows.

In [ ]:
final_population_df = final_population_df[final_population_df['TOTAL']!='(NA)']
final_population_df = final_population_df[final_population_df['BELOW_POVERTY']!='(NA)']

### Insert Population DF

In [ ]:
final_population_df.to_sql(name='POPULATION', con=engine, if_exists='append', index=False, dtype=dtypes)